<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="~/Pages/Errors/GlobalError.aspx">
  </location>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <httpModules>
      <add name="ExceptionModule" type="Zolilo.Web.ExceptionModule"/>
    </httpModules>
   <customErrors mode="Off" defaultRedirect="/Pages/Errors/GlobalError.aspx" redirectMode="ResponseRewrite">
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="zolilo" namespace="Zolilo.Web" assembly="Zolilo.Web"/>
        <add tagPrefix="zoliloGoalView" namespace="Zolilo.Web.GoalViewControls" assembly="Zolilo.Web"/>
      </controls>
    </pages>
    <authentication mode="None">
      <forms defaultUrl="~/home"/>
    </authentication>
    <compilation debug="true">
      <assemblies>
        <add assembly="DotNetOpenAuth, Version=3.4.6.10357, Culture=neutral, PublicKeyToken=2780CCD10D57B246"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>PWXEM+Jc+0Czk1oLR+uXgtY4JrTPb4z8eOxhAsDxgrciTpmdc4JKpaOdt9OLKryyU1Lud1fxaKltdOpQCPWXZBCHyg6ELQ/9grwr+vrN0u28P5ywaSVmezjMXPGr+PjWr0Nnnng7aJOFYeloKNu4v05rJyABOknhVqlendRUUjg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>IXrwlcwQW2t2tQPlBa0Nxx3EWitkTjBu/R/FLXacWv1DZrV/qgA03cRoEs8DvFbjfOdz+hY1QLZEg1n3HauD+aFbaDQYTbndbtbBeE+GqjrIUfQJwV8/e8+NaRAc8HmCDZ0DegXSOBiJ84WUvxN9D/iwcQWv/O0XIGU3LRZk69PWHAKhT+RAEHmZCvwbjq4bsGm6kfm5VzlBLSXgjpu5NhI4KiM7IV7n9fzyynY+jT+VQzho8dVXON3PVNE5+t9bYtI9drSPyH4VhyrnRk18sfSQYxWr29fn</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.webServer>
    <modules>
      <add name="ZoliloHttpModule" type="Zolilo.ZoliloHttpModule" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>